on:
  push:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5    
      - uses: pnpm/action-setup@v4
        with:
          version: 10      
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm
      - uses: actions/cache@v4
        with:
          path: .vitepress/dist
          key: nc-build
          
          
  
