on:
  push:

permissions:
  contents: read
  deployments: write

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install
      - run: pnpm run docs:build
      - uses: actions/upload-artifact@v4
        with:
          path: .vitepress/dist
          name: dist
          retention-days: 7
      # - uses: actions/cache@v4
      #   with:
      #     path: .vitepress/dist
      #     key: nc-build

  deploy:
    runs-on: ubuntu-22.04
    environment:
      name: ${{ github.ref_name == 'main' && 'production' || 'preview' }}
      url: ${{ steps.deploy.outputs.pages-deployment-alias-url }}
    needs: [build]
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: dist
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: npm
      - run: npm install -g @cloudflare/wrangler
      - uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          command: pages deploy . --project-name=neoncode --branch ${{ github.ref_name }}
